users:
  ## Minimal required pillar values
  auser:
    fullname: A User

  ## Full list of pillar values
  buser:
    fullname: B User
    password: $6$w.............
    home: /custom/buser
    createhome: True
    expire: 16426
    sudouser: True
    sudo_rules:
      - ALL=(root) /usr/bin/find
      - ALL=(otheruser) /usr/bin/script.sh
    shell: /bin/bash
    prime_group:
      name: primarygroup
      gid: 500
    groups:
      - users
    ssh_key_type: rsa
    ssh_keys:
      privkey: PRIVATEKEY
      pubkey: PUBLICKEY
    ssh_auth:
      - PUBLICKEY
    ssh_auth.absent:
      - PUBLICKEY_TO_BE_REMOVED
    # Generates an authorized_keys file for the user
    # with the given keys
    ssh_auth_file:
      - PUBLICKEY
    google_auth:
      ssh: |
        SOMEGAUTHHASHVAL
        " RESETTING_TIME_SKEW 46956472+2 46991595-2
        " RATE_LIMIT 3 30 1415800560
        " DISALLOW_REUSE 47193352
        " TOTP_AUTH
        11111111
        22222222
        33333333
        44444444
        55555555

  ## Absent user
  cuser:
    absent: True
    purge: True
    force: True


## Old syntax of absent_users still supported
absent_users:
  - donald
  - bad_guy

absent_groups:
  - badguys
  - badgroup


## if you want to have multiple users to have access to special accounts
## (e.g. root) you can define a "access" pillar.
## all keys in "ssh_auth" of listed users will be added to the specified account:
## this will overwrite authorized_keys. All ssh keys not known to the "authorized_users" pillar will be removed.

authorized_users:
  root:
    - auser
    - buser
  git:
    - buser
    - cuser

## you can also build multiple groups of users
## this makes it easy to include users with additional pillars:
authorized_acl:
  devgroup:
    root:
      - foo
      - bar
    git:
      - foo
      - bar
  supportgroup:
    root:
      - sup1
      - sup2
    staff:
      - sup1
      - sup2
      - sup3


## if you do not want to have every account on every machine you can define a "applied_accounts" pillar:
## only create these user accounts:

applied_accounts:
  - auser
  - buser


